%floatleft {
  float: left;
}

%floatright {
  float: right;
}

%floatnone {
  float: none;
}

%bold {
  @include font($f: $base-font);
}

%headingstyle {
  @extend %bold;
  line-height: 1.3;
  margin-bottom: 20px;
}

%v-align-middle {
  @include position($p: absolute, $t: 50%, $l: 50%);
  @include translator(-50%, -50%);
}

%bgcover {
  background: center no-repeat;
  background-size: cover;
}

%flexcontainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
